@model hpl.Models.userModel

@{
    ViewBag.Title = "Acbid";
}

<h2>Acbid</h2>


@using (Html.BeginForm("Acbid", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>userModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                ：@ViewBag.id
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                ：@ViewBag.titl
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.money, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                ：@ViewBag.money
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lastprice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                ：@ViewBag.lastprice
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p id="RealtimeClock" style="margin-top:5px;"></p>
                <script>
                    function set2fig(num) {
                        var ret;
                        if (num < 10) { ret = "0" + num; }
                        else { ret = num; }
                        return ret;
                    }
                    function showClock() {
                        var nowTime = new Date();
                        var nowYear = set2fig(nowTime.getFullYear());
                        var nowMonth = set2fig(nowTime.getMonth() + 1);
                        var nowDate = set2fig(nowTime.getDate());
                        var nowHour = set2fig(nowTime.getHours());
                        var nowMin = set2fig(nowTime.getMinutes());
                        var nowSec = set2fig(nowTime.getSeconds());
                        var msg = "：" + nowYear + "/" + nowMonth + "/" + nowDate + " " + nowHour + ":" + nowMin + ":" + nowSec;
                        document.getElementById("RealtimeClock").innerHTML = msg;
                    }
                    setInterval('showClock()', 1000);
                </script>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lasttime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                ：@ViewBag.lasttime
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>image</b></div>
            <div class="col-md-10">
                <img src="data:image/jpg;base64,@Model.image" alt="image" style="max-width:100%;height:370px;" data-toggle="modal" data-target="#image_myModal" />
                <div class="modal fade" id="image_myModal">
                    <div class="modal-dialog">
                        <div class="modal-body">
                            <img src="data:image/jpg;base64,@Model.image" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="入札" class="btn btn-default" data-toggle="modal" data-target="#modal-sample" />
                <div class="modal" id="modal-sample" tabindex="-5">
                    <div class="modal-dialog modal-lg" style="display:flex;flex-direction:column;justify-content:center;margin:auto;pointer-events:none;">

                        <!-- 3.モーダルのコンテンツ -->
                        <div class="modal-content" style="pointer-events: all">
                            <!-- 4.モーダルのヘッダ -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="modal-label">入札画面</h4>
                            </div>
                            <!-- 5.モーダルのボディ -->
                            <div class="modal-body">
                                @Html.LabelFor(model => model.money, htmlAttributes: new { @class = "control-label col-md-2" })：@ViewBag.money
                                <input type="text" name="bidprice" id="bidprice" placeholder="入札希望額" style="" class="text-center" onsubmit="bidprice()">
                                <script>
                                    function bidprice() {
                                        var p = document.getElementById("bidprice").value;

                                        target = document.getElementById("bidprice");
                                        target.innerText = document.forms.id_form1.id_textBox1.value;
                                        @*if (document.forms.item p < @ViewBag.money)
                                            alert("@ViewBag.bider");
                                        else {
                                        }*@
                                    }

                                </script>

                                <img src="data:image/jpg;base64,@Model.image" alt="image" style="max-width:70%;height:250px;">
                            </div>
                            <!-- 6.モーダルのフッタ -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                                <button type="submit" class="btn btn-primary">入札</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" value="キャンセル" class="btn btn-default" onclick="location.href = 'http://localhost:49405/Home/AcList'" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
