@model hpl.Models.userModel

@{
    ViewBag.Title = "AcDelete";
}

<h2>AcDelete</h2>

<h3>本当に削除しますか？</h3>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.id)
    </dt>
    <dd>
        ：@ViewBag.id
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.title)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.title)：@ViewBag.titl
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.detail)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.detail)：@ViewBag.detail
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.money)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.money)：@ViewBag.money
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.lastprice)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.lastprice)：@ViewBag.lastprice
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.time)
    </dt>
    <dd>
        <p id="RealtimeClock" style="margin-top:5px;"></p>
        <script>
            function set2fig(num) {
                var ret;
                if (num < 10) { ret = "0" + num; }
                else { ret = num; }
                return ret;
            }
            function showClock() {
                var nowTime = new Date();
                var nowYear = set2fig(nowTime.getFullYear());
                var nowMonth = set2fig(nowTime.getMonth() + 1);
                var nowDate = set2fig(nowTime.getDate());
                var nowHour = set2fig(nowTime.getHours());
                var nowMin = set2fig(nowTime.getMinutes());
                var nowSec = set2fig(nowTime.getSeconds());
                var msg = "：" + nowYear + "/" + nowMonth + "/" + nowDate + " " + nowHour + ":" + nowMin + ":" + nowSec;
                document.getElementById("RealtimeClock").innerHTML = msg;
            }
            setInterval('showClock()', 1000);
        </script>
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.lasttime)
    </dt>
    <dd>
        ：@ViewBag.lasttime
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.image)
    </dt>
    <dd>
        <img src="data:image/jpg;base64,@Model.image" alt="image" style="max-width:100%;height:370px;" data-toggle="modal" data-target="#image_myModal" />
        <div class="modal fade" id="image_myModal">
            <div class="modal-dialog">
                <div class="modal-body">
                    <img src="data:image/jpg;base64,@Model.image" alt="image">
                </div>
            </div>
        </div>
    </dd>
</dl>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align: center;">
            <input type="button" value="YES" class="btn btn-default" data-toggle="modal" data-target="#modal-sample" />
            <div class="modal" id="modal-sample" tabindex="-5">

                <div class="modal-dialog modal-lg" style="display:flex;flex-direction:column;justify-content:center;margin:auto;pointer-events:none;">
                    <div class="modal-content" style="pointer-events: all">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modal-label">削除しますか？</h4>
                        </div>
                        @*モーダルのボディ*@
                        <div class="modal-body">
                            @Html.DisplayNameFor(model => model.id)
                            ：@ViewBag.id<br>

                            @Html.DisplayNameFor(model => model.title)
                            @Html.DisplayFor(model => model.title)：@ViewBag.titl<br>

                            @Html.DisplayNameFor(model => model.detail)
                            @Html.DisplayFor(model => model.detail)：@ViewBag.detail<br>

                            @Html.DisplayNameFor(model => model.money)
                            @Html.DisplayFor(model => model.money)：@ViewBag.money<br>

                            @Html.DisplayNameFor(model => model.lastprice)
                            @Html.DisplayFor(model => model.lastprice)：@ViewBag.lastprice<br>

                            @Html.DisplayNameFor(model => model.lasttime)
                            ：@ViewBag.lasttime<br>

                            <img src="data:image/jpg;base64,@Model.image" alt="image" style="max-width:100%;height:400px;text-align:center;"><br>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">削除</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="button" value="キャンセル" class="btn btn-default" onclick="location.href = 'http://localhost:49405/Home/AcList'" style="text-align: center;" />
        </div>
    </div>

}

