@model hpl.Models.userModel

@{
    ViewBag.Title = "AcEdit";
}

<h2>出品情報編集画面</h2>


@using (Html.BeginForm("AcEdit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            ： 　　 @ViewBag.id
        </dd>
    </dl>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.detail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.detail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.detail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.money, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.money, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.money, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lastprice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastprice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lastprice, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p id="RealtimeClock" style="margin-top:5px;"></p>
                <script>
                    function set2fig(num) {
                        var ret;
                        if (num < 10) { ret = "0" + num; }
                        else { ret = num; }
                        return ret;
                    }
                    function showClock() {
                        var nowTime = new Date();
                        var nowYear = set2fig(nowTime.getFullYear());
                        var nowMonth = set2fig(nowTime.getMonth() + 1);
                        var nowDate = set2fig(nowTime.getDate());
                        var nowHour = set2fig(nowTime.getHours());
                        var nowMin = set2fig(nowTime.getMinutes());
                        var nowSec = set2fig(nowTime.getSeconds());
                        var msg = "：" + nowYear + "/" + nowMonth + "/" + nowDate + " " + nowHour + ":" + nowMin + ":" + nowSec;
                        document.getElementById("RealtimeClock").innerHTML = msg;
                    }
                    setInterval('showClock()', 1000);
                </script>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lasttime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                ：@ViewBag.lasttime
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="data:image/jpg;base64,@Model.image" alt="image" style="max-width:100%;height:370px;" data-toggle="modal" data-target="#image_myModal" />
                <div class="modal fade" id="image_myModal">
                    <div class="modal-dialog">
                        <div class="modal-body">
                            <img src="data:image/jpg;base64,@Model.image" alt="image">
                        </div>
                    </div>
                </div>
                <input type="file" class="file" name="file" />@ViewBag.imger
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
                <input type="button" value="キャンセル" onclick="location.href='http://localhost:49405/Home/AcList'" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
