@model hpl.Models.userModel

@{
    ViewBag.Title = "AcRegistration";
}

<h2>ユーザー登録画面</h2>

@using (Html.BeginForm("AcRegistration", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.remark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.remark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="switchArea1" style="float:left;margin-left:10px;left:14%">
        <input type="checkbox" id="switch1" name="exhibit">
        <label for="switch1"><span></span></label>
        <div id="swImg1"></div>出品のみ
    </div>
    <div class="switchArea2" style="float:left;margin-left:10px;left:14%">
        <input type="checkbox" id="switch2" name="bid">
        <label for="switch2"><span></span></label>
        <div id="swImg2"></div>入札のみ
    </div>
    <div class="switchArea3" style="float:left;margin-left:10px;left:14%">
        <input type="checkbox" id="switch3" name="all">
        <label for="switch3"><span></span></label>
        <div id="swImg3"></div>全権限
    </div>
    <div class="switchArea4" style="float:left;margin-left:10px;left:14%">
        <input type="checkbox" id="switch4" name="registration">
        <label for="switch4"><span></span></label>
        <div id="swImg4"></div>ユーザー登録可否
    </div>

    <style type="text/css">
        .switchArea1,
        .switchArea2,
        .switchArea3,
        .switchArea4 {
            line-height: 32px;
            letter-spacing: 0;
            text-align: center;
            font-size: 15px;
            position: relative;
            margin: auto;
            width: 72px;
            background: #fff;
        }

            .switchArea1 input[type="checkbox"],
            .switchArea2 input[type="checkbox"],
            .switchArea3 input[type="checkbox"],
            .switchArea4 input[type="checkbox"] {
                display: none;
            }

            .switchArea1 label,
            .switchArea2 label,
            .switchArea3 label,
            .switchArea4 label {
                display: block;
                box-sizing: border-box;
                height: 32px;
                border: 2px solid #999999;
                border-radius: 16px;
            }

            .switchArea1 input[type="checkbox"]:checked + label,
            .switchArea2 input[type="checkbox"]:checked + label,
            .switchArea3 input[type="checkbox"]:checked + label,
            .switchArea4 input[type="checkbox"]:checked + label {
                border-color: #78bd78;
            }

            .switchArea1 label span:after,
            .switchArea2 label span:after,
            .switchArea3 label span:after,
            .switchArea4 label span:after {
                content: "OFF";
                padding: 0 0 0 19px;
                color: #999999;
            }

            .switchArea1 input[type="checkbox"]:checked + label span:after,
            .switchArea2 input[type="checkbox"]:checked + label span:after,
            .switchArea3 input[type="checkbox"]:checked + label span:after,
            .switchArea4 input[type="checkbox"]:checked + label span:after {
                content: "ON";
                padding: 0 19px 0 0;
                color: #78bd78;
            }

            .switchArea1 #swImg1,
            .switchArea2 #swImg2,
            .switchArea3 #swImg3,
            .switchArea4 #swImg4 {
                position: absolute;
                width: 24px;
                height: 24px;
                background: #999999;
                top: 4px;
                left: 4px;
                border-radius: 12px;
                transition: .2s;
            }

            .switchArea1 input[type="checkbox"]:checked ~ #swImg1,
            .switchArea2 input[type="checkbox"]:checked ~ #swImg2,
            .switchArea3 input[type="checkbox"]:checked ~ #swImg3,
            .switchArea4 input[type="checkbox"]:checked ~ #swImg4 {
                transform: translateX(40px);
                background: #78bd78;
            }
    </style>

    <div class="col-md-10" style="left:4%">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="登録" class="btn btn-default" />
            <input type="button" value="キャンセル" onclick="location.href='http://localhost:49405/'" class="btn btn-default " />
        </div>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
