@model hpl.Models.userModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>本当に削除しますか？</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id) ：@ViewBag.id
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name) ：@ViewBag.name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password) ：@ViewBag.pass
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail) ：@ViewBag.mail
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remark) ：@ViewBag.remark
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="はい" class="btn btn-default" />
            <input type="button" value="いいえ" onclick="location.href='http://localhost:49405/'" class="btn btn-default" />
        </div>
    }
</div>
